<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>A357DF6E-341D-48F8-BB31-37FB92D0495C.playgroundpage</string>
		<string>ECA0D3E4-FC33-43EE-990C-A9EA882BDF0D.playgroundpage</string>
		<string>CEFA6503-8A26-4339-818A-127C78989740.playgroundpage</string>
	</array>
</dict>
</plist>
